body {
    width: 600px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
}

h2 {
    margin-bottom: 5px;
}
.evenRow {
    background-color: #f2f2f2;
}

.oddRow {
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr {
    border: 1px solid black;
}
th:first-child, td:first-child {
    width: 20px;
}

/* Center the asterisks in Default and Button columns */
td:nth-child(4), td:last-child {  /* Adjust the child number accordingly */
    text-align: center;
}

/* Keep the Name and Notes columns left-aligned */
td:nth-child(2), td:nth-child(3) {
    text-align: left;
}


td[colspan] {
    font-size: 0.8em;
}
td {
    text-align: center;
}

@keyframes flash {
  0%, 100% { background-color: originalColor; }
  50% { background-color: green; }
}

.flash-green {
  animation: flash 1s ease-in-out;
}
